body {
  width: 892px;
  margin: auto;
  font-size: 14px;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 678px;
  height: 149px;
  margin: 30px auto;
  font-family: "IBM Plex Mono", monospace;
}

.name {
  width: 290px;
}

.my-name {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ed048b;
}

.position {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #5f158e;
}

.contacts {
  width: 300px;
  border-left: 1px solid #d9d9d9;
  /* line-height: 1.5; */
}

.description {
  width: 432px;
  margin: auto;
  text-align: center;
}

main {
  width: 830px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

.info {
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 432px;
  margin: auto;
  text-align: center;
}

.sub-main {
  width: 50%;
  margin: 10px;
}

.mark-red {
  font-weight: bold;
  color: #ed048b;
}

.mark-blue {
  font-weight: bold;
  color: #5f158e;
}

.over-header {
  width: 678px;
  height: 32px;
  background: linear-gradient(to right, #ec008c, #fc6767);
  border-radius: 0 0 15px 15px;
  margin: auto;
}

.under-footer {
  width: 678px;
  height: 32px;
  background: linear-gradient(to right, #da22ff, #9733ee);
  border-radius: 15px 15px 0 0;
  margin: auto;
}

ul {
  list-style: none;
  /* padding-left: 0; */
}

li img,
.footer img {
  vertical-align: middle;
  margin: 4px;
}

.link {
  margin-left: 10px;
  font-size: 12px;
}

.logo-rsschool {
  height: 21px;
}

.line {
  width: 300px;
  margin: auto;
  border-bottom: 1px solid #d9d9d9;
}

.experience,
.education {
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d9;
}
